@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
}

main {
  font-size: 2rem;
  text-align: center;
}

section {
  max-width: 100rem;
  margin: 2rem auto;
}

code {
  font-family: "Raleway", sans-serif;
}

picture {
  display: block;
  max-width: 100%;
}

picture img {
  display: block;
  max-height: 100%;
  width: auto;
}

a {
  color: $interactive;

  &:hover {
    color: $interactiveAlt;
  }
}

.error {
  color: red;
}
main {
  ul {
    list-style: none;
    counter-reset: steps;
  }
  ul li {
    counter-increment: steps;
    font-size: 1.35rem;
  }
  ul li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: #ff6f00;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
  }
  ul ul li::before {
    background: darkorchid;
  }
}

.profiles {
  display: inline-block;

  // justify-content: space-around;
  a {
    text-decoration: none;
    color: #e0c568ff;
    font-style: italic;
    text-decoration: underline;
  }
}

#info {
  font-family: "Londrina Shadow", cursive;
  font-size: 150%;
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Londrina Shadow", cursive;
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-family: "Londrina Shadow", cursive;
  font-size: 150%;
  font-weight: bold;
}
#Milo {
  max-width: 30%;
  max-height: 30%;
  border: black 1px solid;
  border-radius: 30%;
}

#Simon {
  max-width: 30%;
  border: black 1px solid;
  border-radius: 30%;
  max-height: 30%;
}

.date p,
.math p,
.number p {
  font-size: 1.5rem;
}
