@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

form {
  @include border-shadow;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(141, 100, 96);
  background: linear-gradient(214deg, rgba(252,118,106,1) 10%, rgba(255,213,165,0.86) 65%, rgba(255,255,255,1) 10%);

  .field {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0;

    label,
    input
    {
      display: block;
      font-size: 1.5rem;
      flex: 50% 1 1;
      font-weight: 800;
      font-family: 'Raleway', sans-serif;
    }
    label {
      max-width: 25%;
    }

    input {
      max-width: 75%;
      border: none;
      border-bottom: 1px solid $dark;
    }
  }

  input[type="submit"],
  input[type="button"] {
    @include border-shadow;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    display: block;
    cursor: pointer;
    background-color: $headerColor;
    color: $interactiveAlt;

    &:hover {
      @include border-shadow($color: $interactive);
    }
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }
}

#year, 
#number,
#day,
#month,
#math {
  @include border-shadow;
  border: solid 3px $headerColor;
  border-radius: 5px;
  margin: 2px;
}

// Could tidy up?

.year-form > form:nth-child(1) > label:nth-child(1) {
  margin: 20px;
}

.number > form:nth-child(1) > label:nth-child(1) {
  margin: 20px;
}


.date > form:nth-child(1) > label:nth-child(1) {
  margin: 20px;
}

.math > form:nth-child(1) > label:nth-child(1) {
  margin: 20px;
}

button {
  @include border-shadow;
  font-size: 1.3rem;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  width: 20%;
  padding: 1rem;
  margin: 1rem 0;
  justify-content: center;
  cursor: pointer;
  background-color: $headerColor;
  color: $interactiveAlt;
}



